%h1=user.firstname + ' ' + user.lastname
=user.email
%p=user.reviews.count

-user.reviews.last(5).reverse.each do |r|
	%p
		=render partial: "review", locals: {r: r}



-if current_user == user
	%p Update password
	=link_to 'Update', edit_user_registration_path

	%h3 Cancel my account
	%p
		Unhappy? #{link_to "Cancel my account", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete}
	= link_to "Back", :back
