.col-md-12
	.col-md-1
		%h2.green=review.rating
	.col-md-11
		=review.content
		%br/
		%b=link_to review.author, user_profile_path(review.user)
		%br/
		.grey= "added #{review.created_at.strftime("%d-%m-%y")} "
%hr/

